body {
  background-image: url("../../public/Group\ 1.png");
}
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container-Form {
  opacity: 0.8;
  margin-top: 300px;
  border-radius: 5px;
  color: whitesmoke;
}
.form {
  margin-top: -240px;
}
.form-h5 {
  justify-content: center;
  text-align: center;

  margin-top: 80px;
  color: white;
}
